{# 開催案内/冠スポンサー 一覧 #}
{%- macro sponsors_kanmuri_table(values) -%}
<table class="sponsor-kanmuri">
  {%- for item in values -%}
    <tr>
      <td>
        <span class="strong2">{{ item }}</span>
      </td>
    </tr>
  {%- endfor -%}
</table>
{%- endmacro -%}

{# 開催案内/スポンサー 一覧 #}
{%- macro sponsors_table(values_, class_, column_) -%}
<table class="sponsor {{ class_ }}">
  {%- for items in values_ | batch(column_) -%}
    <tr class="sponsor-logo">
      {%- for item in items -%}
        <td valign="bottom">
          <a href="{{ item.logo_url}}">
            <img alt="{{ item.name}}" src="{{ item.logo_image}}" style="{{ item.logo_style }}"/><br/>
          </a>
        </td>
      {%- endfor -%}
    </tr>
    <tr>
      {%- for item in items -%}
        <td>
          <a href="{{item.name_url}}">{{ item.name | safe}}</a>
        </td>
      {%- endfor -%}
    </tr>
  {%- endfor -%}
</table>
{%- endmacro -%}
