{# チュートリアル一覧 #}
{%  macro tutorial_list(json) %}
  {%- for session in json -%}
    <h3>{{ session.title }}</h3>
    <h4>講演日時：{{ session.date_time }}</h4>
    <h4>講演者：{{ session.speaker }}</h4>
    <img class="photo" alt="{{ session.speaker }}" src="{{ session.photo }}" width="150" hight="150" /><br>
    <dl>
      <dt>概要：</dt>
      <dd>
        {{ session.abstract | safe }}
      </dd>
    </dl>
  {%- endfor -%}
{% endmacro %}
