<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Facebook 用 ここから -->
  <meta property="og:title" content="言語処理学会第28回年次大会(NLP2022)" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.anlp.jp/nlp2022/index.html" />
  <meta property="og:image" content="https://www.anlp.jp/nlp2022/logo/NLPlogo_606x606.png" />
  <meta property="og:site_name" content="https://www.anlp.jp/nlp2022/" />
  <meta property="og:description" content="2022.3/14-18 @ アクトシティ浜松" />
  <!-- Facebook 用 ここまで -->

  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/nlp20XX.css?202204301200" />

  <!-- [if lt IE 9]> -->
  <!--      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> -->
  <!--      <![endif -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    !(function ($) {
      $(function () {
        var $window = $(window);
        $(".bs-docs-sidenav").affix({
          offset: {
            top: 0,
            bottom: 270,
          },
        });
      });
    })(window.jQuery);
  </script>

  <title>言語処理学会第28回年次大会(NLP2022)</title>
</head>