<div class="span3 bs-docs-sidebar">
  <div id="menu">
    <ul class="nav nav-list bs-docs-sidenav">
      <li><a href="#menu">Top</a></li>
      <li><a href="#new">お知らせ</a></li>
      <li>
        <a href="#cfp">開催案内</a>
        <ul class="nav nav-list bs-docs-sidenav2">
          <li><a href="#date">開催日</a></li>
          <li><a href="#program_online">参加者限定サイト</a></li>
          <li><a href="#venue">会場</a></li>
          <li><a href="#organizer">主催</a></li>
          <li><a href="#supporter">後援・協賛</a></li>
          <li><a href="#sponsor">スポンサー</a></li>
        </ul>
      </li>
      <li class="bs-docs-sidenav-top">
        <a href="#entry">参加登録</a>
        <ul class="nav nav-list bs-docs-sidenav2">
          <li><a href="#entry_site">登録サイト</a></li>
          <li><a href="#entry_fee">参加費</a></li>
        </ul>
      </li>
      <li>
        <a href="program.html">【大会プログラム】</a>
        <ul class="nav nav-list bs-docs-sidenav2">
          <li>
            <a href="program.html#session_table">スケジュール</a>
          </li>
          <li>
            <a href="program.html#session_list">発表一覧</a>
          </li>
          <li>
            <a href="program.html#author_list">著者索引</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="submit.html">大会発表要項</a>
      </li>
      <li>
        <a href="#invited_lecture">招待講演</a>
      </li>
      <li>
        <a href="#tutorial">チュートリアル</a>
      </li>
      <li>
        <a href="#ts_info">テーマセッション</a>
      </li>
      <li>
        <a href="#ws_info">ワークショップ</a>
      </li>
      <li>
        <a href="#slack_ws">Slackワークスペース</a>
      </li>
      <li><a href="#proceedings">予稿集</a></li>
      <li>
        <a href="#award">表彰</a>
        <ul class="nav nav-list bs-docs-sidenav2">
          <li><a href="#award_list">表彰一覧</a></li>
          <li><a href="#bestpaperaward">優秀賞・若手奨励賞</a></li>
          <li><a href="#resourceaward">言語資源賞</a></li>
          <li><a href="#commiteeaward">委員特別賞</a></li>
          <li><a href="#sponsoraward">スポンサー賞</a></li>
          <li><a href="#reviewers">優秀賞・若手奨励賞審査員</a></li>
        </ul>
      </li>
      <li>
        <a href="#sponsor_evening">スポンサーイブニング</a>
      </li>
      <li>
        <a href="#social_gathering">オンライン懇親会</a>
      </li>
      <li>
        <a href="#premium_option">名産品配送企画</a>
      </li>
      <li>
        <a href="#sponsor_inv">スポンサーの募集</a>
      </li>
      <li><a href="summary.html">【簡易版大会要項】</a></li>
      <li>
        <a href="#committee">委員一覧</a>
      </li>
      <li><a href="#inquiry">問い合わせ先</a></li>
    </ul>
  </div>
</div>