
<ul class="nav nav-list bs-docs-sidenav">
  <li><a href="index.html">【大会メインページ】</a></li>
  <li><a href="#logo">要項 Top</a></li>
  <li><a href="#application_notice">発表申込要項</a></li>
  <li>
    <a href="#submit_notice">原稿提出要項</a>
    <ul class="nav nav-list bs-docs-sidenav2">
      <li><a href="#submit_pdf">PDFファイル作成の注意点</a></li>
    </ul>
  </li>
  <li><a href="#submit_cgi">発表申込・原稿提出先</a></li>
  <li>
    <a href="#presentation_notice">大会発表要項</a>
    <ul class="nav nav-list bs-docs-sidenav2">
      <li><a href="#noshow_alert">"No show"に関する注意</a></li>
      <li>
        <a href="#oral_presentation">口頭発表・テーマセッション</a>
      </li>
      <li><a href="#poster_presentation">ポスター発表</a></li>
    </ul>
  </li>
  <li>
    <a href="#poster_advance_submission"
      >ライトニングトーク・ポスターの事前提出</a
    >
  </li>
  <li><a href="#inquiry">問い合わせ先</a></li>
</ul>
